@import '../stylus/index.styl'
@keyframes kettleMove {
    0% {opacity:0;top:2.573333rem;}
    50% {opacity:1;top:3.333333rem;}
    100% {opacity:0;top:2.573333rem; }
}
// 树上苹果位置
apos(t,l)
    top (t - 6) px
    left (l - 6) px
.wrapper
    background #F9F9F9
    border-bottom .013333rem /* 1/75 */solid transparent
    .tree_box
        width 10rem /* 750/75 */
        height 14.12rem /* 1059/75 */
        background url('../../images/energyTree/treeBanner.png') no-repeat
        background-size 100% 100%
        position relative
        .pow_tree
            position absolute
            top 283px
            left 141px
            full-img('../../images/energyTree/pow_tree.png')
            .fruits
                position relative
                width: 100%
                height 100%
                .fruit
                    position: absolute
                    full-img('../../images/energyTree/apple_s.png')
                    &:first-child
                        apos(114 ,243)
                    &:nth-child(2)
                        apos(130 ,126)
                    &:nth-child(3)
                        apos(68 ,213)
                    &:nth-child(4)
                        apos(40 ,138)
                    &:nth-child(5)
                        apos(48 ,291)
                    &:nth-child(6)
                        apos(122 ,372)
                    &:nth-child(7)
                        apos(170 ,185)
                    &:nth-child(8)
                        apos(170 ,277)
                    &:nth-child(9)
                        apos(186 ,38)
                    &:nth-child(10)
                        apos(194 ,349)
                    &:nth-child(11)
                        apos(109 ,68)
                    &:nth-child(12)
                        apos(182 ,406)
        .appleCount
            height 1.066667rem /* 80/75 */
            position absolute
            top 1.453333rem /* 109/75 */
            left 0
            background rgba(255,255,255,0.8)
            border-bottom-right-radius .533333rem /* 40/75 */
            border-top-right-radius .533333rem /* 40/75 */
            display flex
            justify-content space-around
            align-items center
            .apple
                margin 0 .253333rem /* 19/75 */
            &>span
                margin-right .36rem /* 27/75 */
                color #FF4F51
        .energyCount
            position absolute
            right 0
            top 2.76rem /* 207/75 */
            height 1.066667rem /* 80/75 */
            background #ffffff
            display flex
            justify-content space-around
            align-items center
            border-top-left-radius .533333rem /* 40/75 */
            border-bottom-left-radius .533333rem /* 40/75 */
            .headPic
                width .8rem /* 60/75 */
                height .8rem /* 60/75 */
                border-radius 50%
                margin-left .133333rem /* 10/75 */
            &>span
                margin-left .253333rem /* 19/75 */
                margin-right .346667rem /* 26/75 */
                color #1D8135
        .energy-item
            position absolute
            width 2.053333rem /* 154/75 */
            height 2.053333rem /* 154/75 */
            border-radius 50%
            background url('../../images/energyTree/energyBall.png') no-repeat
            background-size 100% 100%
            text-align center
            line-height 2.053333rem /* 154/75 */
            font-size .426667rem /* 32/75 */
            color #1D8135
            top 1.28rem /* 96/75 */
            left 2.92rem /* 219/75 */
        .watering,.exchange
            position absolute
            bottom .666667rem /* 50/75 */
            width .84rem /* 63/75 */
            height .92rem /* 69/75 */
            border 0
            outline none
        .watering
            left .826667rem /* 62/75 */
            background url('../../images/energyTree/watering.png') no-repeat
            background-size 100% 100%
        .exchange
            right .826667rem /* 62/75 */
            background url('../../images/energyTree/exchange.png') no-repeat
            background-size 100% 100%
        .donate-box
            display none
            flex-direction column
            justify-content space-around
            position absolute
            top 7.786667rem /* 584/75 */
            left 50%
            transform translateX(-50%)
            width 7.733333rem /* 580/75 */
            height 5.333333rem /* 400/75 */
            border-radius .133333rem /* 10/75 */
            background #ffffff
            &>h3
                font-size:40px;
                font-family:PingFang SC;
                font-weight:bold;
                color:rgba(0,0,0,1);
                margin-top: 38px
                text-align: center
            .donate-text
                margin-top: 38px
                padding 0 60px
                p
                    text-align center
                    font-size:28px;
                    font-family:PingFang SC;
                    font-weight:500;
                    color:rgba(159,159,159,1);
                    line-height:40px;
                .donate-op 
                    font-size:22px;
                    font-family:PingFang SC;
                    font-weight:500;
                    color:rgba(159,159,159,1);
                    line-height:40px;
                    opacity:0.5;
                    text-align center
                    padding-top: 10px
            .button_list
                display flex
                justify-content space-around
                margin-top .36rem /* 27/75 */
                &>button
                    border .026667rem /* 2/75 */ solid #F6603D
                    border-radius .44rem /* 33/75 */
                    outline none 
                    width 2.4rem /* 180/75 */
                    height .88rem /* 66/75 */
                    font-size .32rem /* 24/75 */
                    font-weight 400
                .cancle
                    background #ffffff
                    color #F6603D
                .sure
                    color #FFFFFF
                    border 0
                    background linear-gradient(86deg,rgba(246,124,85,1) 0%,rgba(255,97,93,1) 100%)
        .pop_box
            display none
            flex-direction column
            justify-content space-around
            position absolute
            top 7.786667rem /* 584/75 */
            left 50%
            transform translateX(-50%)
            width 7.733333rem /* 580/75 */
            height 5.333333rem /* 400/75 */
            border-radius .133333rem /* 10/75 */
            background #ffffff
            &>h3
                color #000000
                font-size .48rem /* 36/75 */
                text-align center
                // padding-top .466667rem /* 35/75 */
            .tips
                display flex
                align-items center
                justify-content center
                // margin-bottom .366667rem /* 35/75 */
                &>span
                    display flex
                    align-items center
                    justify-content center
                    font-size .373333rem /* 28/75 */
                    color #F6603D
                    font-weight bold
                    &:first-child
                        margin-right .466667rem /* 35/75 */
                    &:last-child
                        margin-left .466667rem /* 35/75 */
            .input_box
                width 4.4rem /* 330/75 */
                height 1.04rem /* 78/75 */
                border-radius .08rem /* 6/75 */
                margin 0 auto
                border .026667rem /* 2/75 */ solid #F6603D
                display flex
                &>span
                    flex 1
                    height 1.04rem /* 78/75 */
                    display flex
                    justify-content center
                    align-items center
                    text-align center
                    color #000000
                    font-size .346667rem /* 26/75 */
                    font-weight 400
                .opr
                    background #F6603D
            .button_list
                display flex
                justify-content space-around
                // margin-top .26rem /* 27/75 */
                margin-bottom: .2rem
                &>button
                    border .026667rem /* 2/75 */ solid #F6603D
                    border-radius .44rem /* 33/75 */
                    outline none 
                    width 2.4rem /* 180/75 */
                    height .88rem /* 66/75 */
                    font-size .32rem /* 24/75 */
                    font-weight 400
                .cancle
                    background #ffffff
                    color #F6603D
                .sure
                    color #FFFFFF
                    border 0
                    background linear-gradient(86deg,rgba(246,124,85,1) 0%,rgba(255,97,93,1) 100%)
        .tip
            display none
            width 3.533333rem /* 265/75 */
            height 3.293333rem /* 247/75 */
            position absolute
            top 6.466667rem /* 485/75 */
            left 50%
            transform translateX(-50%)
        .kettle
            opacity 0
            position absolute
            top 2.573333rem /* 193/75 */
            right 2.933333rem /* 220/75 */
            width 1.866667rem /* 140/75 */
            height 2.2rem /* 165/75 */
            .kettle_icon
                width 1.44rem /* 108/75 */
                height 1.146667rem /* 86/75 */
                position absolute
                right 0
                top 0
            .drips
                width .44rem /* 33/75 */
                height 1.013333rem /* 76/75 */
                position absolute
                bottom 0
                left 0
    .bot_box
        width 9.146667rem /* 686/75 */
        min-height 15.466667rem /* 1160/75 */
        position relative
        top -0.333333rem /* 25/75 */
        border-radius .426667rem /* 32/75 */ .426667rem /* 32/75 */ 0 0
        background #F9F9F9
        padding .066667rem /* 5/75 */.426667rem /* 32/75 */0
        .title
            color #000000
            font-size .48rem /* 36/75 */
            font-weight 800
            display flex
            align-items center
            justify-content flex-start
            padding .426667rem /* 32/75 */0
            &>i
                display inline-block
                width .186667rem /* 14/75 */
                height .56rem /* 42/75 */
                background url('../../images/energyTree/tip_icon.png') no-repeat
                background-size 100% 100%
                margin-right .2rem /* 15/75 */
        .rule
            width 8.333333rem /* 625/75 */
            padding .293333rem /* 22/75 */.4rem /* 30/75 */
            background #FFFFFF
            border-radius .053333rem /* 4/75 */
            &>p
                color #000000
                font-size .373333rem /* 28/75 */
                font-weight 500
                word-break break-word
                margin-bottom .56rem /* 42/75 */
        .nodate
            img
                position absolute
                top 8.573333rem /* 643/75 */
                left 50%
                transform translateX(-50%)
                width 220px
                height: 418px
        &>ul
            &>li
                width 8.92rem /* 669/75 */
                height 1.6rem /* 120/75 */
                background #ffffff
                border-radius .053333rem /* 4/75 */
                margin-bottom .4rem /* 30/75 */
                display flex
                justify-content space-between
                align-items center
                color #000000
                font-size .373333rem /* 28/75 */
                &:nth-child(1),&:nth-child(2),&:nth-child(3)
                    &>span:first-child
                        .rank
                            color #F6603D
                &>span:first-child
                    display flex
                    align-items center
                    padding-left .28rem /* 21/75 */
                    &>img
                        width .96rem /* 72/75 */
                        height .96rem /* 72/75 */
                        border-radius .133333rem /* 10/75 */
                        margin-left .333333rem /* 25/75 */
                        margin-right .506667rem /* 38/75 */
                &>span:last-child
                    margin-right .373333rem /* 28/75 */
