@import '../tools.styl'
@import '../stylus/index.styl'
@import '../common_yl.styl'
.wrapper
  box-sizing border-box
  width 100vw
  height 100vh
  overflow hidden
  // 内容列表容器
.content_list
  padding .32rem /* 24/75 */
  height 98%
  overflow auto
  .list_time
    font-size:24px;
    font-family:SF UI Display;
    font-weight:400;
    color:rgba(35,24,21,1);
    opacity:0.5;
    padding: 16px
    margin-top 30px