@import '../tools.styl'
@import '../stylus/index.styl'
@import '../common_yl.styl'
.wrapper
  box-sizing border-box
  width 100vw
  height 100vh
  overflow hidden
  // 内容列表容器
.content_list
  padding .32rem /* 24/75 */
  height 98%
  overflow auto