@import '../tools.styl'
@import '../stylus/index.styl'
@import './public.styl'
.content
    overflow hidden
    .children_tab
        position relative
        &>input
            font-size .266667rem /* 20/75 */
            color #333333
            position absolute 
            right .533333rem /* 40/75 */
            height .666667rem /* 50/75 */
            width 3.146667rem /* 236/75 */
            background #ffffff
            border 1px solid #cccccc
            border-radius .266667rem /* 20/75 */
            z-index 10
            text-indent 1em
        &>i
            icon_bg('../../images/civilizationSquare/search_icon.png',.373333rem /* 28/75 */) 
            position absolute
            right .64rem /* 48/75 */
            z-index 10
    .promising_item
        width 9.52rem /* 714/75 */
        box-sizing border-box
        margin .413333rem /* 31/75 */ auto .346667rem /* 26/75 */
        padding .44rem /* 33/75 */.573333rem /* 43/75 */ .506667rem /* 38/75 */
        background #ffffff
        border-radius .266667rem /* 20/75 */
        .ctx
            display flex
            justify-content space-between
            align-items center
            .item_content
                &>p
                    margin-bottom .16rem /* 12/75 */
                    font-weight 500
                    font-size 0
                    .educationActivities
                        icon_bg('../../images/civilizationSquare/educationActivities_icon.png',.666667rem /* 50/75 */)
                        display inline-block
                    .YoGa
                        icon_bg('../../images/civilizationSquare/YogaActivities_icon.png',.666667rem /* 50/75 */)
                        display inline-block
                    &>i 
                        vertical-align middle
                        margin-right .133333rem /* 10/75 */                    
                    .title
                        vertical-align middle
                        color #000000
                        font-size .373333rem /* 28/75 */
                    .text
                        vertical-align middle
                        display inline-block
                        margin-left .106667rem /* 8/75 */
                        font-size .373333rem /* 28/75 */
                        color #B2B2B2
                        width 2.666667rem /* 200/75 */
                        white-space nowrap
                        text-overflow ellipsis
                        overflow hidden
            &>img
                width 3.146667rem /* 236/75 */
                height 2.466667rem /* 185/75 */
                object-fit: cover
        .buttonList
            display flex
            justify-content center
            align-items center
            &>button
                display block
                width 1.866667rem /* 140/75 */
                height .693333rem /* 52/75 */
                outline none
                border 0
                margin-left .56rem /* 42/75 */
            .signUp
                background url('../../images/civilizationSquare/singUp_icon.png')
                background-size 100% 100%
            .alreadyExpired
                background url('../../images/civilizationSquare/alreadyExpired_icon.png')
                background-size 100% 100%
            .expired
                background url('../../images/civilizationSquare/expired_icon.png')
                background-size 100% 100%
            .signUped
                background url('../../images/civilizationSquare/signUped_icon.png')
                background-size 100% 100%
    .publish_active
        position fixed
        bottom 1.8rem /* 135/75 */
        right .333333rem /* 25/75 */
        width 1.266667rem /* 95/75 */
        height 1.266667rem /* 95/75 */