.top_tab
    width 100%
    box-sizing border-box
    background #ffffff
    font-size .4rem /* 30/75 */
    color #000
    display flex
    align-items center
    padding 0 .293333rem /* 22/75 */
    &>li
        padding  .546667rem /* 41/75 */.173333rem /* 13/75 */.333333rem /* 25/75 */
        font-weight 500
        &.active
            font-size .48rem /* 36/75 */
            font-weight bold
            padding-left .293333rem /* 22/75 */
            padding-right: .293333rem /* 22/75 */
            position relative
            &:after
                content ''
                display block
                background #FF1D36
                border-radius .04rem /* 3/75 */
                width .533333rem /* 40/75 */
                height .08rem /* 6/75 */
                position absolute
                bottom 0
                left .953333rem /* 71.5/75 */
.content
    background #F7F7F7
    padding-bottom 1.64rem /* 123/75 */
    .children_tab
        height 1.24rem /* 93/75 */
        display flex
        align-items center
        padding 0 .133333rem /* 10/75 */0 .133333rem /* 10/75 */
        font-size 0
        &>li
            padding 0 .2rem /* 15/75 */0 .2rem /* 15/75 */
            color #727373
            font-size .373333rem /* 28/75 */
            font-weight bold
            &.active
                color #FF3E44
                font-size .4rem /* 30/75 */
.button_tab
    z-index 10
    position fixed
    bottom 0
    width 100%
    background #ffffff
    height 1.306667rem /* 98/75 */
    display flex
    justify-content space-around
    &>li
        width 1.253333rem /* 94/75 */
        display flex
        flex-direction column
        align-items center
        font-size .293333rem /* 22/75 */
        color #B2B2B2
        &.active
            color #333333
        .suqare
            icon_bg('../../images/public/tab_square_active.png',.8rem /* 60/75 */)
        .circle
            icon_bg('../../images/public/tab_civilizationCircle.png',.8rem /* 60/75 */)
        .message
            position relative
            icon_bg('../../images/public/tab_message.png',.8rem /* 60/75 */)
            .count
                icon_bg('../../images/public/message_count.png',.48rem /* 36/75 */)
                position absolute
                right -.093333rem /* 7/75 */
                font-size .266667rem /* 20/75 */
                text-align center
                font-style normal
                line-height .48rem /* 36/75 */
                color #ffffff
        .my
            icon_bg('../../images/public/tab_my.png',.8rem /* 60/75 */)
        .release
            position absolute
            bottom 0
            icon_bg('../../images/public/tab_release.png',1.733333rem /* 130/75 */) 