.img_mask
    position fixed
    width 100vw
    height 100vh
    top 0
    left 0
    background rgba(1,1,1,.6)
    display none
    .big_img
        position relative
        width 100%
        height: 100%
        display: flex
        justify-content:center
        align-items center
        img 
            max-width 90%
            max-height 90%