icon_bg(url, w, h = w)
  width w
  height h
  display block
  background url(url)
  background-repeat no-repeat
  background-size 100% 100%
// color
$c_white = #fff
$c_lgray = #F7F7F7
$c_gray = #B2B2B2
$c_dgray = #808080
$c_blue = #5C87EB
$c_dblue = #3F75FB
$c_orange = #FE941C
$c_red = #FF1D36
$c_lblack=#333333

// font-size
$fs-xxs = .266667rem /* 20/75 */
$fs-xs = .293333rem /* 22/75 */
$fs-s = .32rem /* 24/75 */
$fs-m = .373333rem /* 28/75 */
$fs-l = .4rem /* 30/75 */
$fs-xl = .48rem /* 36/75 */
// color
.white
  color $c_white
.lgray
  color $c_lgray
.gray
  color $c_gray
.dgray
  color $c_dgray
.blue
  color $c_blue
.dblue
  color $c_dblue
.orange
  color $c_orange
.red
  color $c_red
.dark
  color #00000
.lblack
  color: $c_black
// bg-color
.bg-white
  background-color:  $c_white
.bg-lgray
  background-color:  $c_lgray
.bg-gray
  background-color:  $c_gray
.bg-dgray
  background-color:  $c_dgray
.bg-blue
  background-color:  $c_blue
.bg-dblue
  background-color:  $c_dblue
.bg-orange
  background-color:  $c_orange
.bg-red
  background-color:  $c_red
.bg-lblack
  background-color: $c_lblack
// felx
.d-flex
  display flex
.flex-column
  flex-direction column
.flex-wrap
  flex-wrap wrap
.flex-1
  flex 1
// 横向排列
.jc-start
  justify-content flex-start
.jc-end
  justify-content flex-end
.jc-between
  justify-content space-between
.jc-around
  justify-content space-around
.jc-center
  justify-content center
// 纵向排列
.ai-start
  align-items flex-start
.ai-end
  align-items flex-end
.ai-between
  align-items space-between
.ai-around
  align-items space-around
.ai-center
  align-items center

// 底部操作栏
.button_tab
  z-index 10
  position fixed
  bottom 0
  width 100%
  background #ffffff
  height 1.306667rem /* 98/75 */
  display flex
  justify-content space-around
  &>li
      width 1.253333rem /* 94/75 */
      display flex
      flex-direction column
      align-items center
      font-size .293333rem /* 22/75 */
      color #B2B2B2
      .suqare
          icon_bg('../../images/public/tab_square.png',.8rem /* 60/75 */)
      .circle
          icon_bg('../../images/public/tab_civilizationCircle.png',.8rem /* 60/75 */)
      .message
        position relative
        icon_bg('../../images/public/tab_message.png',.8rem /* 60/75 */)
        .count
          icon_bg('../../images/public/message_count.png',.48rem /* 36/75 */)
          position absolute
          right -.093333rem /* 7/75 */
          font-size .266667rem /* 20/75 */
          text-align center
          font-style normal
          line-height .48rem /* 36/75 */
          color #ffffff
      .my
        icon_bg('../../images/public/tab_my.png',.8rem /* 60/75 */)
      .release
        position absolute
        bottom 0
        icon_bg('../../images/public/tab_release.png',1.733333rem /* 130/75 */)
      &.active
        color #333333
        .suqare
          icon_bg('../../images/public/tab_square_active.png',.8rem /* 60/75 */)
        .circle
          icon_bg('../../images/public/tab_civilizationCircle_active.png',.8rem /* 60/75 */)
        .message
          position relative
          icon_bg('../../images/public/tab_message_active.png',.8rem /* 60/75 */)
        .my
          icon_bg('../../images/public/tab_my_active.png',.8rem /* 60/75 */)
