@import '../stylus/index.styl'
@import '../tools.styl'
@import '../common_yl.styl'
.hide
  display none
.wrapper
  width 100vw
  height 100vh
  overflow hidden
  background-color $c_lgray


// 导航栏
.nav_box
  font-size $fs-l
  height .88rem /* 66/75 */
  .nav_item
    // width .533333rem /* 40/75 */
    margin  0 .4rem /* 30/75 */
    flex-center()
    &.nav-active
        position relative
        font-size: $fs-xl
        font-weight bold
        &::after
          position absolute
          content ''
          width .533333rem /* 40/75 */
          height .08rem /* 6/75 */
          background-color $c_red
          border-radius .04rem /* 3/75 */
          bottom 0 /* 10/75 */

// 内容列表容器
.content_list
  padding .32rem /* 24/75 */
  height 80%
  overflow auto

// 搜索列表
.search_list_box
  padding .32rem /* 24/75 */
  height 80%
  background:rgba(247,247,247,1)
  overflow auto
  display none
  .search_list
    border-radius: .266667rem /* 20/75 */
    padding 0 .533333rem /* 40/75 */
    box-shadow 0 .24rem /* 18/75 */ .32rem /* 24/75 */ 0 rgba(241,241,241,0.44)
    // height 80%
    .search_list_mesg
      margin auto
      font-size .346667rem /* 26/75 */
      color $c_gray
      text-align center
      padding .5rem 0
    .search_list_item
      position relative
      border-bottom solid .013333rem /* 1/75 */ rgba(243,246,247,1)
      padding 0.32rem 0 /* 40/75 */
      img 
        width 1.12rem /* 84/75 */
        height @width
        border-radius: 50%
        object-fit cover
      .search_list_right
        padding 0 .266667rem /* 20/75 */
        h4
          font-size: $fs-m
          color: #333333
          font-weight:500;
        span
          font-size $fs-xs
          font-weight:400;
          color: #B3B3B3

